@charset "UTF-8";
body {
	background-color: white;
}

p {
	color: darkslategrey;
}

.paragraph {
	margin: 0 auto;
}

.paragraph-container {
	
}

.img-wrapper {
	display: inline-block;
	position: relative;
}

.indexheading {
	position: absolute;
	z-index: 999;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 40%;
	text-align: center;
	width: 60%;
	color: #585925;
	
}

#home-page-img {
	width: 100%;
}

#spotify {
	display: inline-block;
}

iframe {
	display: block;
	width: 500px;
	padding: 10px;
	top: 70%;	
}

.musicbg {
	height: auto;
	width: 40%;
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.flex {
	display: flex;
}

.lefthalf {
  flex: 1;
  padding: 0rem;
}

.righthalf {
  flex: 1;
  padding: 1rem;
}



