@charset "UTF-8";
body {
	background-color: darkslategrey;
}

p {
	color: white;
	margin: 20px;
	text-align: center;
	width: 55%;
}

a:hover {
	background-color: green;
}

.paragraph {
	margin: 0 auto;
}

.paragraph-container {
	
}

#home-page-img {
	width: 100%;
}

#spotifyIFrame {
	margin: auto;
	width: 500px;
	padding: 10px;
	border-top: 2px white;		
}


